*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    background: transparent
}
html {
    font-size 62.5%;
}

.li_main_nav a , .li_main_nav , .contenedor_main_nav , a{
    text-decoration: none;
    display: inline-block;
    margin-top: 3px;
    font-size: 2rem;
    text-align: right;
}