/* z-index = para poner una caja encima de otra , se usa con position absolute
opacity: para la transparencia de la caja
filter: brillo*/


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size:62.5%;
 }

.padre{
    width: 37.9rem;
    height: 48.7rem;
    border: 0.2rem dotted #4056AD;
    background-color: #2B76E8;
    border-radius: 5%;
    position:absolute; top: 119px; left:775px;
    opacity: 0.85;
    z-index:2;
 }
    
 .titulo_goku, .caracteristicas_goku, .tecnicas_goku{
    position: relative;
    font-size: 2.2rem;

}
.titulo_goku::first-letter, .tecnicas_goku::first-letter, .tercerp::first-letter, .caja_tecnicas::first-letter{
    color:red;
    
}



.definicion_goku{
    font-size: 1.3rem;
    text-align: center;

}
.caja_tecnicas{
    font-size: 1.3rem;
    text-align: justify;
    margin: auto 0.3rem auto 0.3rem;
}

.lista_tecnicas_goku{
    list-style-type:upper-roman;
    list-style-position: inside;
}


.padrecito{
    width: 75rem;
    height: 53rem;
    border: 0.8rem solid gold;
    background-color: transparent;
    border-radius: 15%;
    position: absolute; top:90px; left:440px;
    z-index: 1;
    
}

.hijo_padrecito{
    width: 23rem;
    height: 7rem;
    border: 0.3rem solid gold;
    background-color: #5B74D4;
    border-radius: 0.8rem;
    position:relative;
    margin: 6rem 0 0 50rem;
    opacity: 0.98;
    z-index: 4;
}
.tercerp{
    font-size: 1.5rem;
    font-family:cursive;
    text-align: center;
    margin-top: 2.4rem;;
}

.goku {
    width: 29rem;
    height: 42rem;
    position:absolute; top: 3.2rem; right: 42rem; 
    opacity:0.95;
    filter: brightness(1.2);   
}


.goku_ultainstinto{
    width: 29rem;
    height: 42rem;
    position:absolute; top: 4rem; right: 42rem; 
    opacity:0;
    filter: brightness(1.2);  
}

.goku_ultainstinto:hover{
    opacity:1;
}
