body {
    background-color:antiquewhite;
    color: red;
    max-width: 900px;
    border: 1px solid blue;
}

img{
    width: 8%;
    height: 8%;
}
 
.contenedor_main_nav {
    display: inline-block;
    padding: 0;
    margin: 5px;
   
}
.contenedor_main_nav li{
    display: inline-block;
    
}
.contenedor_main_nav li a {
    font-size: 20px;
    text-decoration: none;
    
    

}
.li_main_nav a{
    content: " | ";
}

.li_main_nav a:hover{
    color:blue;
}
.li_main_nav a:active{
    color:pink;
    border-radius: 15%;
    border: 1px solid red;
}

.number1_fieldset{
 padding: 0;
 border-width: 1;
 width: 39%;
 margin-left: 60%;
 margin-top: 1%;
}
