/* z-index = para poner una caja encima de otra , se usa con position absolute
opacity: para la transparencia de la caja
filter: brillo*/


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size:62.5%;
 }
    



.padre{
    width: 320px;
    height: 420px;
    border: 2px solid gold;
    background-color:gray;
    border-radius: 10%;
    position:absolute; top: 127.5px; left:775px;
    opacity: 0.5;
    z-index:2;
    
    

}
.padrecito{
    width: 700px;
    height: 500px;
    border: 2px solid goldenrod;
    
    border-radius: 15%;
    position: absolute; top:90px; left:440px;
    z-index: 1;
    
   
    
    
}

.hijo_padrecito{
    width: 17rem;
    height: 7rem;
    border: 1px solid gold;
    background-color:red;
    position:absolute;
    margin: 6rem 0 0 51rem;
    opacity: 0.95;
    z-index: 2;
}
.tercerp{
    font-size: 1.5rem;
    font-family:cursive;
    text-align: center;
    margin-top: 2.4rem;;
}

.goku {
    width: 29rem;
    height: 40rem;
    position:relative; top: 5rem; right: 18.6rem; 
    opacity:0.95;
    filter: brightness(1.11);
   
   

  
    
}